body {
  font-family: helvetica;
  color: #eee;
  background-color: #343434;
}
h1 {
  font-size: 60px;
  text-align: center;
}
input {
  width: 675px;
  height: 50px;
  margin-top: 15px;
  font-size: 25px;
}
button {
  width: 114px;
  height: 56px;
  box-sizing: border-box;
  border: 0;
  background-color: dodgerblue;
  font-size: 25px;
  color: white;
}
.chat-container {
  width: 800px;
  margin: 0 auto;
}
.text-responses {
  height: 400px;
  width: 800px;
  background-color: #eee;
  overflow: scroll;
}
.bot-name {
  color: red;
}
.user {
  color: dodgerblue;
}
.response {
  color: #222;
  margin-left: 5px;
}
